body, html, #wrapper { min-height:100%; width:100%; height:100%; margin:0; padding:0;}
html>body #wrapper { height:auto; }

/**************
*** SideBar ***
**************/
#sidebar { width:200px; float:left; padding:0 0;}
#sidebarpt { width:200px; float:left; padding: 0 0;}
.shortcuts { list-style:none; padding:0; margin:10px 0 0 0; }
.shortcuts li { text-align:center; margin:0 2px 0 0; padding:0px; list-style:none; float:left; }
.imageint { border:1px solid #9D9D9D; padding:5px; margin:0 0 10px 5px; clear:both; }
.menuint { width:193px; border-color:#f0f0f0; border-style:solid;}
/*.menuint .superior { background:url(../images/menuint_sombra_sup.gif) no-repeat top; height:8px; }
.menuint .inferior { background:url(../images/menuint_sombra_inf.gif) no-repeat bottom; height:10px; }*/
.menuint .menulist { background:url(../images/menuint_bg.jpg) repeat-x bottom; width:161px; padding:10px 0 10px 15px; margin:5px auto;}
.menulist h3 { color:#696D77; font-size:14px; padding:0; margin:0 0 8px 0;}
.menulist ul { font-size:12px; line-height:20px; list-style:none;}
.menulist li.subactual { color:#212121; background:url(images/vineta_actual.gif) no-repeat 0px 7px; padding-left:10px; margin-left:-10px; font-weight:bold;}
.menulist a { color:#696D77; }
.menulist a:hover { text-decoration:none; }
.promo { margin:5px; }
.menu-indent { margin-left:15px; }
.menu-indent a { color:#879AC5; }
.menu-indent a strong { color:#677698; }
.menu-indent a.current {text-decoration:none}
.menu-indent li { background:none!important}

.proximo-magazine { background:url(../images/bg_magazine_prox.jpg) no-repeat top; padding:27px 6px 11px 8px; }
#top { background:url(images/topinterno.gif) no-repeat;}
#wrapper { background:url(images/backg.jpg) repeat-x;}
body { background:#FFF repeat-x bottom; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-shadow:#000 0px 0px 0px; }
ul, li, h3 { margin:0px; padding:0px; }
ol { margin:0 0 0 8px; }
a img { border:none; }
h1 { margin:0 15px 0 0; padding:0; float:right; }
h1 span { display:none; }
h3 span { display:none; }

.clear { font-size:0px; height:1px; margin:0; padding:0; clear:both; }

.tit_amarillo {font-size:15px!important;color:#ffb62f!important;}


/*************
*** Header ***
*************/

#header { background:url(images/backg.jpg) repeat-y repeat-x no-repeat;}
#identidad, #cont-menu, #head-foot { width:863px; margin:0 auto; }
/*#identidad { background:url(../images/img_identidad.png) bottom no-repeat; height:84px; padding-top:53px; padding-bottom:5px; }*/
#identidad { background:url(images/backg.jpg) repeat-x; height:81px; padding-top:53px; padding-bottom:5px; }
#identidad #banderas { float:left; padding-top:60px; padding-left: 5px; }
#identidad #logo {float:left; height:12px; top:20px; position:absolute;  }

#identidad #iconos {margin-top:-54px; margin-left:360px;}
#identidad #logeado { padding-left: 600px; width:auto; text-align:right; }
#cont-menu { background:url(images/sombra_lat.png) repeat-y; width:840px; padding:5px 10px; }
/* #cont-menu { background:url(images/sombra_lat.png) repeat-y #FFFFFF; width:838px; padding:5px 10px; height:auto; } */
#cont-menu #borderedondol{ background: transparent url(images/rounded_c_left.png) no-repeat; margin-left: -10px; height: 10px;
display: block;  border: none;  width:50px;  margin-top:-5px; }
#cont-menu #borderedondor{ background: transparent url(images/rounded_c_right.png) no-repeat right; margin-left:803px;  height: 10px;  display: block;border: none;  width:50px;  margin-top:-11px; }
#menu { color:#464667; background:url(images/bg_menu.jpg) repeat-x; text-transform:uppercase; height:43px; margin:0; padding:0; border-top:1px solid #ACB0BA;}
.top { width:200px;height:23px;background:url(images/topinterno.gif) no-repeat;top:236px; position:absolute; display:block;}
#barra { background:#c2cfe2; height:18px; padding:0 2px; margin:0px 0;  z-index:0; float:left; width:838px;}
#menu li { text-align:center; margin:0; padding:0; height:43px; list-style:none; display:block; float:left; }
#bot-cliente { width:126px; }
#bot-telefonia { width:126px; }
#bot-internet { width:90px; }
#bot-cable { width:90px; }
#bot-publicidad { width:93px; }
#bot-internacional { width:114px; }
#bot-promociones { width:105px; }
#bot-contacto { width:90px; }
#menu a { color:#464667; text-decoration:none; height:27px; padding:16px 0 0 0; display:block; }
#menu a:hover { color:#FFFFFF; background:#68758A; }
#fecha { color:#FFFFFF; background:#0D4A8B; height:13px; border-top:5px solid #0D4A8B; border-bottom:1px solid #0D4A8B; padding:0 2px; margin:3px 0;  z-index:0; float:left; width:838px; margin-top:-9px; display:block;}
#fecha ul { width:310px; padding:5px 0 0 0; z-index:0; float:none; left:1300px; background:#00CC66;}
#icono_menu_nuevo { width:308px; padding:5px 0 0 0; z-index:0; float: right;}
#icono_menu_nuevo li { text-align:center; margin:14 5px 0 0; padding:0px; float: right; list-style:none; display:inline; margin-top:-15px; }
#fecha p { margin:0; padding:0; float:right; }
#header-mid { height:439px; float:none; z-index:0;}
#img-mid { width:531px; height:179px; float:left; margin-right:5px; }
#frm_login { background:url(images/bg_puntos.gif) repeat-x top; width:240px; margin:90px 0 0 0; padding:4px 0 0 50px; float:left;margin-top:65px; }
#frm_login h3 {  }
#frm_login label { float:left; }
.datos { margin:5px 2px 0 0; }
.error { color:#FF0000;}
.session { margin:5px 5px 0 0; font-size:10px!important;}
.datos input { color:#737373; font-size:9px; width:84px; height:14px; padding:5px; border:1px solid #DCE8F1; }
#frm_login p { margin:10px 0 0 0; padding:0; }
#frm_login a { color:#545B65; }
#frm_login a:hover { color:#282828; }
#sub-links { background:#F5F5F5; font-size:9px; text-transform:uppercase; height:20px; margin-top:3px; border-top:1px solid #D7D7D7; border-bottom:1px solid #D7D7D7; clear:both; }
#sub-links ul { color:#6E6E6E; margin:0; padding:5px 0 0 0; }
#sub-links li { text-align:center; margin:0; padding:0 5px; list-style:none; float:left; border-right:1px solid #D7D7D7; }
#sub-links li a { color:#6E6E6E; text-decoration:none; }
#sub-links li a:hover { color:#000000; }
.bot-central { color:#333333; background:#69AEE0 url(images/ico_central.gif) no-repeat top left; text-decoration:none; text-align:center; width:128px; height:15px; padding-top:5px; border-left:2px solid #FFFFFF; display:block; float:right; }
#home #head-foot { background:url(images/sombra_inf.png) no-repeat top; height:5px; }
#head-foot { background:#FF0000 url(images/sombra_inf_int.gif) no-repeat top; font-size:0px; height:3px; }
#cabecera 
	{  
	background-color: #c2cfe2;
	/* mejor definir color notación #333ccc */  
	color: white; } 

/**************
*** Content ***
**************/
#home #content { width:843px; margin:0 auto; padding:1px 2px;}
#content { background:url(images/bg_content.png) repeat-y left; width:863px; margin:0 auto; padding:0; }
#bgcont { background:#F8F8F8; }
#scroll {width:275px; height:180px;overflow: auto; padding-left:4px; padding-top:3px;}

/*** Home ***/
#home #conectate {width:275px; height:200px; background:url(images/home_mod_con.gif) no-repeat;top:400px; position:absolute; }
#home #conectate #scroll {  height:200px; background:transparent url(images/div_m.gif) no-repeat;}
#home #linea { top:400px;}
#home #news { width:275px; height:200px; background:url(images/home_mod_not.gif) no-repeat;top:400px;position:absolute;margin-left:569px;}
#home #news #scroll { height:200px; background:url(images/div_m.gif) no-repeat;}
#home #promos li { list-style:none; display:inline; float:left; padding-right:3px;}
#home #promos .banner {  float:left;  width:140px; vertical-align:top; height:217px; overflow:hidden;}
#home #ofrece { width:275px; height:200px; background:url(images/home_mod_nto.gif) no-repeat; margin-left:285px;top:400px; position:absolute;}
#home #ofrece #scroll {  width:275px;height:200px; background:url(images/div_m.gif) no-repeat;z-index:3;}
#home .news h4, #home .news p { margin:0; padding:0; }
#home .news { width:200px; margin-left:6px; float:left; }
#home .news h4 { background:url(../images/vineta_news.gif) no-repeat left; font-size:12px; font-weight:bold; padding-left:14px; margin-bottom:10px; }
#home .news .titular { color:#3F5485!important; font-weight:bold; }
#home .news p { color:#4E576C; min-height:45px; _height:42px; display:block; }
#home .imglink { width:180px; height:130px; margin-top:5px; padding:5px; border:1px solid #989899; position:relative; }
#home .imglink img { width:180px; height:130px; }
#home .imglink a { background:#000; color:#FFFFFF; text-decoration:none; text-align:right; width:175px; height:14px; padding-right:5px; display:block; position:absolute; bottom:5px; _bottom:7px; left:5px; filter:alpha(opacity=50); -moz-opacity:.50; opacity:.50; }




/*** home noticias de la seccion noticias ***/
#contnews{ margin: 0 auto;	text-align:left; width: 250px; }
#imgnews{ float:left; width: 90px; height:65px;}
#imgnews img{ width: 90px; height:65px;}
#infnews{ float:right; width: 155px; }

/*** home promociones de la seccion noticias ***/
#contpromo{ margin: 0 auto; text-align:left; width: 250px; }
#imgpromo{ float:left; width: 90px; height:65px;}
#imgpromo img{ width: 90px; height:65px;}
#infpromo{ float:right; width: 155px; }





/*** Internas ***/
#contenido { color:#696D77; font-size:12px; width:633px; padding:10px 0; top: 10px; margin-left:1px; float:left; margin-top:20px; }
#contenidopt { color:#696D77; font-size:12px; width:633px; padding:10px 0; top: 10px; margin-left:5px; _margin-left:15px; float:left; margin-top:20px; }
#programacion #contenido { color:#696D77; font-size:12px; width:800px; padding:10px 0; margin-left:20px; _margin-left:15px; float:left; }
#contenido a { color:#696D77;}
#contenido a:hover { color:#212121; text-decoration:none; }
#contenido-foot { background:url(images/sombra_cont.png) top left no-repeat ; width:863px; height:5px; margin:0 auto; clear:both; }
.ruta { color:#696D77; text-align:right; border-bottom:1px solid #C6C6C6; padding:1px 3px; margin:0 0 5px 0; }
.ruta a { color:#696D77; text-decoration:none; }
.ruta a:hover { color:#313D5B; text-decoration:underline; }
.rutactual { color:#313D5B; }
#contenido h2 { color:#163B91; font-size:18px; font-weight:bold; margin:10px 0 10px 0; padding:0; }
#contenido h2#tit_noticias {padding:13px;font-size:14px;background:url(images/bg_tit_noticias.jpg) top left no-repeat}
#contenido h3 { color:#696D77; font-size:12px; font-weight:bold; margin:0 0 10px 0; padding:0; }
#contenido li { margin:0 20px; list-style:disc; }
#contenido h3.tit-naranja { color:#DE690A; font-size:14px; font-weight:normal; }
.imgpromo { border:1px solid #C2C0C0; margin-bottom:10px; }
#contenido ol { margin:0 0 0 12px; padding:0; }
#contenido ol li { list-style:decimal; margin:0 0 0 10px; padding:0; }
#contenido ol li ul li { list-style:disc; }
.rule-cierre { color:#696D77; font-size:10px; text-align:right; border-bottom:1px solid #C6C6C6; padding:1px 3px; margin:20px 0; }
.rule-cierre span { background:#EDEFF4; font-size:12px; font-weight:bold; padding:3px 7px 0 7px; float:left; margin-top:-4px; margin-left:-3px; display:block; }

/*** Para ti ***/
#parati { float: left; background: url(images/backgpt.gif)  repeat-y; }
#usuario { float: left; width: 65%;}
#menuparati {float: left; width: 25%; } 
#pie { clear: both; background-color: blue; color: #ffffff; }
#bannerpt { float: center; overflow:hidden;}
#bannerpt li { list-style:none; display:inline; float:left; padding-right:3px;}
#bannerpt .banner {  float:left;  width:150px; vertical-align:top; height:300px; overflow:hidden;}



/*HC*/
.tarifas { width:380px; border:#fff 1px solid }
.tarifas th { padding:8px 0; text-align:left; font-size:12px; color:#fff; background:#999; border-bottom:#000 1px solid }
.tarifas td { font-size:11px; font-style:italic; border-bottom:#ccc 0px solid }
0.

.tarifa {  border:#fff 1px solid; }
.tarifa td { font-size:11px; font-style:italic; border-bottom:#ccc 1px solid }

#nosidebar { color:#696D77; font-size:12px; width:825px; padding:10px 0; margin-left:20px; _margin-left:15px; }
#nosidebar .ruta {float:left; margin-right:10px; padding-top:18px; width:702px; _width:689px;}
#nosidebar #logo_mercantil {float:right}

#nosidebar #t_pagos tr td.data {height:40px; background:#f3f0f0; border:#d5d4d4 1px solid}
#nosidebar #t_pagos tr td.data-left {width:425px; padding-left:15px;}
#nosidebar .bluebg {padding-left:15px; height:40px; font-weight:bold; background:url(../pagos/images/gradient-blue.gif) left top repeat-x; border:#9fa6b6 1px solid}
#nosidebar .graybg {height:40px; font-weight:bold; text-align:center; background:url(../pagos/images/gradient-gray.gif) left top repeat-x; border:#b4b6b8 1px solid}
#nosidebar .servicio {margin:0 auto; width:825px; border:0}
#nosidebar .servicio tr td {padding:2px; font-size:12px; font-weight:bold; color:#666; background:#dadcdf; border:#cac8c8 1px solid}

/*NOTICIAS*/
#noticia_principal {padding:0px 20px;}
#noticia_principal h3 {font-size:16px}
#noticia_principal .img_noticia {float:left;padding:5px;margin:0 15px 15px 0;border:solid 1px #999}

#titulares_noticias {padding:10px;background:#DADCDF}
#titulares_noticias ul {}
#titulares_noticias li {list-style:none;margin:10px 0px;padding-left:18px;font-weight:bold;background:url(../images/bullet.jpg) left 3px no-repeat}
#titulares_noticias li a {text-decoration:none;}

/*PROGRAMACION*/
h3#header_prog {margin-bottom:2px;padding:14px 13px;background:url(../images/header_prog.jpg) left top no-repeat}
h3#header_prog_canales {margin-top:5px; margin-bottom:2px;padding:14px 13px;background:url(../images/header_prog_canales.jpg) left top no-repeat}

h3.canales{color:#FFFFFF!important; font-size:15px!important}
.box_canales{margin:0; background:url(../images/bg_canales.gif)  1px bottom no-repeat; padding:5px 5px 15px 5px; width:auto; }

h3#header_canales_nacionales {width:auto; margin-top:5px; margin-bottom:0px!important;padding:14px 13px 8px 13px;background:url(../images/header_canales_nacionales.jpg) left top no-repeat}

h3#header_canales_series {width:auto; margin-top:5px; margin-bottom:0px!important;padding:14px 13px 8px 13px;background:url(../images/header_canales_series.jpg) 2px top no-repeat}

h3#header_canales_infantiles {width:auto; margin-top:5px; margin-bottom:0px!important;padding:14px 13px 8px 13px;background:url(../images/header_canales_infantiles.jpg) 1px top no-repeat}

h3#header_canales_documentales {width:auto; margin-top:5px; margin-bottom:0px!important;padding:14px 13px 8px 13px;background:url(../images/header_canales_documentales.jpg) 1px top no-repeat}

h3#header_canales_variedades {width:auto; margin-top:5px; margin-bottom:0px!important;padding:14px 13px 8px 13px;background:url(../images/header_canales_variedades.jpg) 1px top no-repeat}

h3#header_canales_noticias {width:auto; margin-top:5px; margin-bottom:0px!important;padding:18px 13px 8px 13px;background:url(../images/header_canales_noticias.jpg) 1px top no-repeat; height:21px}

h3#header_canales_internacionales {width:auto; margin-top:5px; margin-bottom:0px!important;padding:20px 13px 8px 13px;background:url(../images/header_canales_internacionales.jpg) 1px top no-repeat; height:19px}

h3#header_canales_premium {width:auto; margin-top:5px; margin-bottom:0px!important;padding:18px 13px 8px 13px;background:url(../images/header_canales_premium.jpg) 1px top no-repeat; height:21px}

h3#header_canales_deportivos {width:auto; margin-top:5px; margin-bottom:0px!important;padding:18px 13px 8px 13px;background:url(../images/header_canales_deportivos.jpg) 1px top no-repeat; height:21px}

h3#header_canales_musicales {width:auto; margin-top:5px; margin-bottom:0px!important;padding:21px 13px 8px 13px;background:url(../images/header_canales_musicales.jpg) 1px top no-repeat; height:18px}


h3#header_canales {margin-top:5px; margin-bottom:0px!important;padding:10px 13px 10px 13px;}


#buscador_prog {margin-bottom:2px;padding:1px 7px;font-weight:bold;background:url(../images/barra_azul.jpg) left top no-repeat}
#buscador_prog form {padding:0;margin:0}
#buscador_prog select {padding:0;font-size:10px;}
#buscador_prog input {font-size:10px;}

#horario {margin-bottom:2px;padding:4px 10px;background:url(../images/barra_azul.jpg) left top no-repeat; width:777px; height:14px;}
#horario p {padding:0;margin:0;text-align:center;font-weight:bold; display:block; float:left; width:745px;}

#header_grilla {height:42px;margin-bottom:2px;}
#header_grilla h4 {float:left;display:inline;margin:0;height:42px;width:117px;background:url(../images/tit_grilla.jpg) left top no-repeat}
#header_grilla h4 span {display:none;}
#header_grilla ul {float:left;display:inline;margin:0;list-style:none;height:42px;}
#header_grilla ul li {float:left;display:inline;margin:0 0 0 2px;padding:13px 15px;width:138px;height:16px;font-weight:bold;background:url(../images/bg_horario.jpg) left top no-repeat}

.canal_prog {height:42px;margin-bottom:2px;overflow:hidden}
.canal_prog .canal_logo {float:left;display:inline;margin:0;width:117px;height:42px; text-align:center;}
.canal_prog .canal_logo img{ border:solid 1px #666666;}
.canal_prog ul {float:left;display:inline;margin:0px;padding:0px;list-style:none;height:42px;}
.canal_prog ul li {float:left;display:inline;margin:0 0 0 2px!important;padding:9px 5px 0 5px;height:31px;background:#EAEAEB;border:solid 1px #9FA6B6;overflow:hidden}

li.m120 {width:666px;}
li.m105 {width:581px;}
li.m90 {width:496px;}
li.m75 {width:411px;}
li.m60 {width:326px;}
li.m45 {width:241px;}
li.m30 {width:156px;}
li.m15 {width:71px;}

/* mapa */
.mapa li {margin-bottom:30px!important;font-weight:bold;list-style:disc!important}
.mapa li a {color:#7a8aa1!important}

.mapa li li {margin:5px 28px!important;list-style:none!important}
.mapa li li a {color:#acacac!important}

.mapa li li li {font-weight:100;list-style:none!important}


#carousel{
overflow:hidden;
position:relative;
left:0;


}
.nota{
width:531px; 
float:left;
z-index:-1;
}

/*************
*** Footer ***
*************/
#footer { font-size:11px; width:100%; height:100px; color:#FFFFFF; }
#footer .img-rigth { width:850px; height:90px; display:block; margin-left:auto; margin-right:auto;}
#footer .img-left { width:114px; height:85px; padding-top:30px; float:left; }
#footer a { color:#333333; text-decoration:none; }
#footer a:hover { text-decoration:underline;}
#footcenter21 { width:810px; margin:0 auto;  }

#foot-cont22 { color:#FFFFFF; background:#979FAE; height:20px; filter:alpha(opacity=85); -moz-opacity:.85; opacity:.85; display:block; padding-top:10px; margin-right:10px; clear:both;  }
#foot-center { width:810px; margin:0 auto;  }
#foot-cont22 p { margin:0; padding:0; }
#foot-cont21 p#rigth { float:right; }


/* #footcont21 {color:#333333; background:#d9d9d9; height:20px; padding-top:10px; margin-right:10px; clear:both; font-size:8px;  } --!>*/
/* #footcont21 {color:#333333; background:#d9d9d9; height:20px; padding-top:10px; margin-right:10px; clear:both; font-size:8px;  }*/
/* #footcont21 #linkls { width:80px;height:190px;z-index:1; font-weight:bold; font-size:12px; display:inline; margin-top:150px; position:relative; top:-7px; margin-left:450px;} */

/* #footcont21 p { margin:0; padding:0; display:inline;}
/* #footcont21 #linkls { height:190px;z-index:1; font-weight:bold; font-size:12px; display:inline; margin-top:150px; position:relative; } */
#footcont21 {color:#333333; background:#d9d9d9; height:20px;}
#footcont21 #foot-izq { display:inline; float:left; font-size:10px}
#footcont21 #foot-cent { display:inline; float:left; font-weight:bold; font-size:12px; margin-left:210px;}
#footcont21 #foot-der { display:inline; float:right; font-size:10px}
/* #foot-der p#rigth { float:right; display:inline; font-size:10px } */

/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker-div, .ui-datepicker-inline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0;
	margin: 0;
	background: #ddd; /*ddd*/
	width: 185px;
}
#home #promos .banner .titulo_home_servico {
	color: #4e576c;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px 0px 0px 5px;
	line-height:15px
}
#home #promos .banner .texto_home_servico {
	font-size: 10px;
	color: #4e576c;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left:5px;
	line-height:12px
}
#home #promos .banner .banner_peq {
	float:left;
	width:140px; 
	vertical-align:top; 
	height:108.5px; 
	overflow:hidden; 
	background:#0000FF;
}

#ui-datepicker-div {
	display: none;
	border: 1px solid #338dc1;
	z-index: 9999; /*must have*/
}
.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.ui-datepicker-trigger {
	width: 25px;
}
img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .ui-datepicker-prompt {
	width: 185px;
}
.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #fff;
}
.ui-datepicker-control {
	background: #338dc1;/*400*/
	padding: 2px 0px;
}
.ui-datepicker-links {
	background: #666666;/*000*/
	padding: 2px 0px;
}
.ui-datepicker-control, .ui-datepicker-links {
	font-weight: bold;
	font-size: 80%;
}
.ui-datepicker-links label { /* disabled links */
	padding: 2px 5px;
	color: #888;
}
.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	width: 34%;
}
.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev {
	float: right;
	text-align: right;
}
.ui-datepicker-current {
	float: left;
	width: 30%;
	text-align: center;
}
.ui-datepicker-close, .ui-datepicker-next {
	float: right;
	width: 34%;
	text-align: right;
}
.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next {
	float: left;
	text-align: left;
}
.ui-datepicker-header {
	padding: 1px 0 3px;
	background: #FFFFFF;/*333*/
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.ui-datepicker-header select {
	background: #FFFFFF;/*333*/
	color: #999999;/*fff*/
	border: 0px;
	font-weight: bold;
}
.ui-datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker-title-row {
	background: #777;
}
.ui-datepicker-days-row {
	background: #eee;
	color: #666;
}
.ui-datepicker-week-col {
	background: #777;
	color: #fff;
}
.ui-datepicker-days-cell {
	color: #000;
	border: 1px solid #ddd;
}
.ui-datepicker-days-cell a{
	display: block;
}
.ui-datepicker-week-end-cell {
	background: #ddd;
}
.ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #777;
}
.ui-datepicker-days-cell-over {
	background: #fff;
	border: 1px solid #338dc1;
}
.ui-datepicker-unselectable {
	color: #888;
}
.ui-datepicker-today {
	background: #FFFFFF !important;
}
.ui-datepicker-current-day {
	background: #FFFFFF !important;
}
.ui-datepicker-status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 5px !important;
}
.ui-datepicker-control a, .ui-datepicker-links a {
	padding: 2px 5px !important;
	color: #eee !important;
}
.ui-datepicker-title-row a {
	color: #eee !important;
}
.ui-datepicker-control a:hover {
	background: #fdd !important;
	color: #333 !important;
}
.ui-datepicker-links a:hover, .ui-datepicker-title-row a:hover {
	background: #ddd !important;
	color: #333 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #777;
}
.ui-datepicker-one-month {
	float: left;
	width: 185px;
}
.ui-datepicker-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
   /* filter: mask();*/ /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}.subtitle {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-bottom-color: #338dc1;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

/* ///////////////////////////////////////////////// */
/* POPUP LIVE SUPPORT                                */
/* ///////////////////////////////////////////////// */

#wrapper-popup {
	padding:43px 0 0 33px;
	width:367px;
	height:509px;
	background:url(../images/bg_popup_chat.jpg) left top no-repeat;
	border:#ff0000 1px solid;
}
#wrapper-popup #chatbox {
	padding:0 4px;
	width:327px;
	height:459px;
	background:url(../images/bg_chatbox.jpg) left top no-repeat
}
#wrapper-popup #chatbox h1 {
	float:none!important;
	margin:0 0 9px 0;
	padding:11px 0 0 0;
	height:29px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:italic;
	text-align:center!important;
	color:#094fa3;
}
#wrapper-popup #chatbox #chat {
	overflow:auto;
	width:100%;
	height:303px;
}
#wrapper-popup #chatbox #chat ul.messages {
	margin:0 auto 10px auto;
	width:274px;
	padding:25px 0 0 16px;	
}
#wrapper-popup #chatbox #chat ul.messages li {
	margin:0 0 8px 0;
	list-style:none;
	font-size:10px;
	font-weight:bold;
	color:#666;
}
#wrapper-popup #chatbox #chat ul.messages li span.user {
	color:#535885;
}
#wrapper-popup #chatbox #chat ul.messages li span.tech {
	color:#0b58b5;
}
#wrapper-popup #chatbox #usertag {
	padding:4px 0 0 14px;
	width:313px;
	height:18px;
	color:#464667;
}

#wrapper-popup #chatbox form {
	margin:0;
	padding:0;
}

#wrapper-popup #chatbox form table #msg {
	padding:5px 10px;
	width:209px;
	height:43px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#666;
	border:#e1e1e2 1px solid;
}

#wrapper-popup #close_chat {
	display:block;
	float:right;
	margin:11px 33px 0 0;
}
br.both{
clear:both;
}
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:80%;
width:80%;
top:0;
left:0;
border:1px solid #cecece;
z-index:1;
}



#popupContact, #popupContact3{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:140px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#contactArea, #contactArea3 {background: white; width:80%; height:100px; overflow: scroll} 

#popupContact h1 , #popupContact3 h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose , #popupContactClose3{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
cursor: pointer;
text-decoration:none;
}
#button{
text-align:center;
margin:100px;
}
#backgroundPopupuno{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}



#popupContactuno, #popupContactuno{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:140px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#contactAreauno, #contactAreauno {background: white; width:100%; height:100px; overflow: scroll} 

#popupContactuno h1 , #popupContactuno h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactCloseuno , #popupContactCloseuno{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
cursor: pointer;
text-decoration:none;
}
#buttonuno{
text-align:center;
margin:100px;
}

#backgroundPopupdos{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:80%;
width:80%;
top:0;
left:0;
border:1px solid #cecece;
z-index:1;
}



#popupContactdos, #popupContactdos{

display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:140px;
width:460px;

border:2px solid #cecece;
z-index:1;
padding:12px;
font-size:13px;
}
#tablaecta {
    width: 460px;
    height: 90%;
    left: 0px;
    top: 20px;
    position: fixed;
    z-index: 0;
}

#edcta {
    width: 460px;
    height: 90%;
    left: 0px;
    top: 20px;
    position: fixed;
    z-index: 0;
}
#contactAreados, #contactAreados {width:80%; height:160px; overflow: scroll} 

#popupContactdos h1 , #popupContactdos h1{
text-align:center;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;

}



#popupContactClosedos , #popupContactClosedos{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
cursor: pointer;
text-decoration:none;
}
#buttondos{
text-align:center;
margin:100px;
}


#backgroundPopuptres{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}



#popupContacttres, #popupContacttres{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:140px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#contactAreatres, #contactAreatres {background: white; width:100%; height:100px; overflow: scroll} 

#popupContacttres h1 , #popupContacttres h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClosetres , #popupContactClosetres{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
cursor: pointer;
text-decoration:none;
}
#buttontres{
text-align:center;
margin:100px;
}

#backgroundPopupNuevo{
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
  #news_carousel a { color: #fff; }

  #news_carousel {
     width: 531px;
     height: 179px;
     margin: 0;
     padding: 0;
     overflow: hidden;  /* this will make only show 1 li */
     position: relative;
  }
  #news_carousel ul.news {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  #news_carousel ul li {
    margin: 0;
    padding: 0;
    position: relative; /* so that we can do absolute positioning of the paragraph inside of it */
    float: left; /* align one next to the other */
  }
  #news_carousel ul.news li p {
    position: absolute;
    bottom: 10px;
    left: 0;
    margin: 5px;
  }
  #news_carousel ul.news li p strong {
    display: block;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    background: #444;
  }
  #news_carousel ul.news li p span {
    padding: 2px 5px;
    color: #000;
    background: #fff;
  }
  #news_carousel ul.controls {
    position: absolute;
    top: 0px; right: 20px;
    list-style-type: none;
  }
  #news_carousel ul.controls li a {
    float: left;
    font-size: 15px;
    margin: 5px;
    padding: 2px 7px;
    background: #000;
    text-decoration: none;
    outline: none;
  }

  #news_carousel ul.controls li a.active {
    border: 2px solid #ccc;
  }

  #news_carousel .timer {
    background: #fff;
    border: 2px solid #000;
    height: 1px;
    left: 3px;
    position:absolute;
    top: 7px;
    width: 100px;
  }
